/*Reset Page so that everything has no margin or padding by default*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
/*Initialize container class to center elements*/
.container{
    width: 95vw;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.section-one{
    color: grey;
}
.section-one img{
    width: 14rem;
    height: 4rem;
    margin: 2rem 0 4rem 0;
}
.section-one h2{
    margin: 0 0 0.5rem 0;
}

/* section 3 styling */

.container-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdc00;
    padding: 5rem;
}

.container-three h3,
.container-three p
{
    color: #333743;
    text-align: left;
    width: 50%;
    margin: auto;
}

.container-three img{
    width: 18rem;
    height: 18rem;
}

.section-three-box p {
    font-size: .7rem;
}

