/*Reset Page so that everything has no margin or padding by default*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}


/* Section 1 Styles */


/*Initialize container class to center elements*/

.container {
    /* width: 95vw; */
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.flex-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-one {
    color: grey;
    margin: 3rem;
}

.section-one img {
    width: 14rem;
    height: 4rem;
    margin: 2rem 0 4rem 0;
}

.section-one h2,
.section-six h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
}

.section-one p,
.section-six p {
    margin: 0 0 1.5rem 0;
}

.section-one input,
.section-six input {
    height: 1.6rem;
    width: 12rem;
    margin: 0 0.5rem;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px grey;
}

.section-one button,
.section-six button {
    height: 1.8rem;
    width: 8.5rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-image: radial-gradient(#14a3f6, #0377bb);
}

.flex-one img {
    width: 6rem;
    height: 1.5rem;
    margin: 4rem .7rem .5rem .7rem;
}

@media only screen and (max-width: 600px) {
    .container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container form input {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 550px) {
    .flex-one {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}


/* Section 2 Styles */


/* turns Section 2 into a flex box and aligns all content to the center of the section */

#our-platform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333743;
    padding: 3rem 0;
    color: white;
}


/* removes the upper margin of the h2 element and gives it a font size of 36px */

#our-platform h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}


/* removes the lower margin of the h3 element and gives it a font size of 20px */

#our-platform h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
}


/* changes the margin of the p elements to 6.4px(margin on top and bottom only) */

#our-platform p {
    margin: 0.4rem 0;
}


/* creates a grid with 2 rows and 3 columns; all grid children are aligned to the center-left of their parent containers */

#our-platform__grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    grid-gap: 1rem;
}


/* turns each grid child into a flex blox and aligns all content to the center-left */

.our-platform__grid__child {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* gives the content section of each grid child a left margin of 8px */

.child-content {
    margin-left: 0.5rem;
}


/* gives all Font Awesome icons a solid white border in the shape of a circle */

.fa {
    border: 2px solid white;
    background-color: white;
    border-radius: 2.5rem;
    color: #333743;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-pencil {
    padding: 0.75rem 0.8925rem;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-user {
    padding: 0.75rem 1.0355rem;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-book {
    padding: 0.75rem 0.8211rem;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-users {
    padding: 0.75rem 0.6785rem;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-eye {
    padding: 0.75rem;
}


/* adds padding to the icon until its box-sizing is 60px by 60px */

.fa-comments {
    padding: 0.75rem;
}

@media only screen and (max-width: 600px) {
    #our-platform__grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


/* section 3 styling */

.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdc00;
    padding: 3rem;
}

.container-three h2,
.container-three p {
    color: #333743;
    text-align: left;
}

.container-three h2 {
    font-size: 2rem;
}

.container-three img {
    width: 18rem;
    height: 18rem;
}

.section-three-box p {
    max-width: 400px;
    margin-right: 6rem;
}

@media only screen and (max-width: 600px) {
    .container-three {
        flex-direction: column;
    }
    .section-three-box p {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .section-three-box p,
    .container-three h2 {
        text-align: center;
    }
}


/* Section 4 Styles */

#section-four {
    display: flex;
    min-height: 50vh;
    background-color: #333743;
    color: #fff;
}

.section-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem auto;
    align-items: center;
}

.section-four video {
    margin: 0 5rem;
}

.section-four-list {
    margin: 0 5rem;
}

.section-four-list h2 {
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .section-four {
        flex-direction: column;
    }
    .section-four-list,
    .section-four video {
        margin: 0;
    }
    .section-four-list {
        margin-top: 2rem;
    }
    .section-four-list h2 {
        text-align: center;
    }
}


/*Section 5 Styles */


/* turns section 5 into a flex box and centers all content in the section*/

#what-they-say {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffdc00;
    text-align: center;
    padding: 3rem 0;
}


/* gives section 5 header a size of 36px and transforms it to all uppercase */

#what-they-say h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


/* italicizes the quote */

#what-they-say q {
    font-style: italic;
    margin-bottom: 1rem;
}


/* bolds all of the paragraphs in section 5 */

#what-they-say p {
    font-weight: bold;
}


/* colors the icons gray */

#what-they-say .fa {
    color: gray;
    background-color: transparent;
    border: none;
}


/* modifies first icon to look different from the reset */

#what-they-say #unique-color {
    color: #333743;
}


/* Section 6 Styles */

#section-six {
    display: flex;
    background-color: #333743;
    color: #fff;
    min-height: 50vh;
    padding: 3rem 0;
}


/* Section 7 Styles */

.section-seven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
}

.section-seven img {
    width: 6.5rem;
    height: 1.7rem;
    margin: 0 4rem;
}

.section-seven p {
    font-size: 0.8rem;
    margin: 0 4rem;
}